[Desktop Entry] 
Name=Thunderbird 
Exec=/opt/thunderbird/thunderbird 
Terminal=false
Icon=/opt/thunderbird/chrome/icons/default/default128.png
Type=Application
